@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

.cardo {
  font-family: "Cardo", serif;
}

.slick-list {
  overflow: hidden;
}
